body,div,h1,form,p,th,td,abbr {margin:0;padding:0;border:0;}			
body {font:11px/1.182 arial, "helvetica neue", helvetica, sans-serif;color:#000;background:#fff;}

h1 {margin:0 0 .875em;line-height:1.125;font-size:16px;font-weight:normal;text-transform:uppercase;}		
p {margin:0 0 1em;}

table {border-collapse:collapse;border-spacing:0;empty-cells:show;}
th,td {padding:5px 10px;border:1px solid #cacaca;text-align:left;}

br {display:none;}
label {display:block;margin:0 0 5px;text-transform:uppercase;font-weight:bold;cursor:pointer;}
label span {text-transform:none;font-weight:normal;}
input.text {width:82px;border:1px solid #cacaca;font-size:110%;background:none;-webkit-appearance:caret;}
input.button{cursor:pointer;}
textarea{float:left;margin:0 3px 9px 0;border:1px solid #cacaca;font-size:100%;overflow:auto;}

#container {width:780px;margin:0 auto;padding:33px 0 0 19px;}	
#forms {float:left;padding:4px 0 7px 17px;border-left:1px solid #ccc;}